*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html {
  font-size: 100%;
}

/*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1200px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}

.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */

.form {
  width: 90vw;
  max-width: 400px;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem 0;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}
/* 
.form-row {
  margin-bottom: 1rem;
} */

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.form .btn {
  margin-top: 0.5rem;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.section {
  padding: 2rem 0;
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
}


.link {
  color: var(--grey-500);
}

.active {
  color: var(--primary-500);
}


/* PML */
.navbar {
  width: 80vw;
  max-width: 900px;
  margin: 0 auto;
}

.pml-content {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-container > *{
  font-size: 1.25rem;
  background-color: var(--primary-500);
  padding: .25rem .5rem;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: .5rem;
  cursor: pointer;
}
.link-container > *:not(:last-child) {
  margin-right: 1rem;
}

.pml-center {
  display: grid;
  gap: 2rem;
  max-width: var(--max-width);
}

.pml-input {
  padding: 2rem;
}

#pml-textarea {
  width: 100%;
  height: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  border: transparent;
  outline: transparent;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}
#pml-textarea:hover {
  box-shadow: var(--shadow-4);
  transform: scale(1.03);
}

.submit-btn {
  width: 100%;
  font-size: 1.25rem;
}

.submit-btn:hover {
  transform: scale(1.03);
}

.pml-output {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: var(--shadow-2);
    display: grid;
    place-items: center;
  
}

.output-order h2{
  font-size: 1.25rem;
  background-color: var(--primary-900);
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
}

.pizza-center {
  display: grid;
  gap: 1rem;
}

.pizza-container {
  background-color: var(--grey-100);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--white);
  box-shadow: var(--shadow-4);
}

.pizza-container h3 {
  color: var(--primary-700);
  font-weight: bold;
}

.pizza-container .pizza-details {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
  margin-bottom: 1rem ;
}

.pizza-container .pizza-details p {
  margin: 0;
  text-transform: uppercase;
  color: var(--grey-900);
  padding: 0 .5rem;
  border-radius: .5rem;
  font-weight: bold;
  color: var(--primary-500);
}

.topping-container {
  display: grid;
}

.topping-container div {
  color: var(--grey-900);
  padding: .25rem;
  border-radius: .25rem;
}

.topping-container div h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.topping-container div div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topping-container div div span {
  display: block;
  padding: .25rem;
  width: 8rem;
  border-radius: .25rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--primary-500);
  position: relative;
  font-weight: 600;
}
.topping-container div div span::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary-500);
  position: absolute;
  top: 16px;
  left: -5px;
}

/* INVALID PML */
.invalid {
  color: var(--red-dark);
}

@media screen and (min-width: 800px) {
  .pizza-center {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1192px) {
  .pml-center {
    grid-template-columns: 1fr 2fr;
  }
}

/* STATS page */

.loading,
.stats-page, 
.orders-page{
  display: grid;
  place-items: center;
  min-height: 80vh;
}

.stats-center {
  background-color: var(--white);
  padding: 2rem ;
  border-radius: 1rem;
  box-shadow: var(--shadow-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.stat {
  padding: .5rem .875rem;
  color: var(--primary-900);
}

.stat h4 {
  margin: 0;
  font-weight: 700;
}

.stat h4 span {
  color: var(--primary-500);
}

.home-link {
  font-size: 1.5rem;
  background-color: white;
  box-shadow: var(--shadow-4);
  border-radius: 1rem;
    padding: .5rem .875rem;
    color: white !important;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Order Page */

.order-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.order {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-2);
}
.order h4 {
  font-weight: bold;
}
.order h5 {
  margin: 0;
}
.pizza-detail {
  text-align: left;
  margin-left: 2rem;
  padding: .5rem;
}
.pizza-detail p {
  color: var(--grey-500);
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .order-center {
    max-width: var(--max-width);
    margin: 0 auto;
  }
}